.post-container {
  transition: background-color 0.3s;
}

.post-container:hover {
  border-right: 1em solid #656565;
  background-color: rgba(126, 126, 126, 0.2);
  border-radius: 0.5em;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 767px) and (orientation: portrait) {
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 1200px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
}

@media (color-gamut: srgb) {
}
